body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #e3e3e3 !important;
}
.custom-container {
  width: 100%;
  padding: 20px;
}
/* Search box */
.search-box {
  margin: 40px auto;
  max-width: 100%;
  width: 400px;
  display: flex;
}
#input-field {
  width: calc(100% - 80px);
  padding: 10px 25px;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-right: -5px;
}
#input-field:focus {
  outline: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
}
#search-btn {
  border-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0 18px;
}
/* Card design */
.card {
  background-color: white;
}
.card:hover {
  box-shadow: 0 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.c-head {
  height: 300px;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-head img {
  max-width: 100%;
  max-height: 100%;
  transform: scale(0.9);
  transition: 0.2s;
}
.card:hover img {
  transform: scale(1);
}
.card-body {
  padding-bottom: 0 !important;
}
.card-footer {
  border-top: none !important;
  padding: 0px 1rem 18px !important;
  background-color: transparent !important;
}

/* Cart design */
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 5px 5px 7px rgb(170, 170, 170);
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: white;
}
.cart-main {
  padding-right: 30px;
}
.fa-star {
  color: #f7bf33;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
